appdirs==1.4.4
Brotli==1.0.9
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cloudpickle==2.0.0
cycler==0.11.0
dash==2.3.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
decorator==5.1.1
Flask==2.1.1
Flask-Compress==1.11
fonttools==4.32.0
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.2
llvmlite==0.38.0
MarkupSafe==2.1.1
matplotlib==3.5.1
mne==1.0.2
numba==0.55.1
numpy==1.21.6
packaging==21.3
pactools==0.3.1
pandas==1.4.2
Pillow==9.1.0
plotly==5.7.0
pooch==1.6.0
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
shap==0.40.0
six==1.16.0
sklearn==0.0
slicer==0.0.7
tenacity==8.0.1
threadpoolctl==3.1.0
tqdm==4.64.0
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.8.0
